/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  min-height: 100%;
}

body {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", "Poppins", sans-serif;

}

html,
body {
  color: var(--text-color);
  background-color: var(--page-bg);
}

.dark {
  /* dark mode */
  --page-bg: #555555;
  --text-color: var(--white);
  --title-1: var(--white);
  --title-2: var(--white);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}


@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.woff2") format("woff2"),
    url("../fonts/DMSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Medium.woff2") format("woff2"),
    url("../fonts/DMSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Bold.woff2") format("woff2"),
    url("../fonts/DMSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



:root {
  --font-family: "DM Sans", sans-serif;
  --second-family: "Poppins", sans-serif;
  --black: #171718;
  --black-border: #26292d;
  --white: #fff;
  --purple: #5c62ec;


  --text-color: var(--black);
  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--purple);

  /* light mode */
  --page-bg: var(--white);
  --text-color: var(--black);
  --title-1: var(--accent);
  --project-card-bg: var(--black);
  --project-card-text: var(--white);
}





.none {
  display: none !important;
}

/* nav */

.nav {
  padding: 20px 0;
  color: var(--header-text);
  background-color: var(--dark-bg);
  border-bottom: 1px solid #26292d;
}

.nav-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo {
  margin-right: auto;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: var(--header-text);
}

.logo strong {
  font-weight: 700;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 40px;
  color: var(--header-text);
}

.nav-list__link {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--header-text);
  transition: all 0.4s ease;
}

.nav-list__link--active {
  position: relative;
}

.nav-list__link--active::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--purple);
}

/* dark mode btn */


.dark-mode-btn {
  order: 9;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 51px;
  height: 26px;
  padding: 5px;
  border-radius: 50px;
  background-color: #272727;
}

.dark-mode-btn::before {
  position: absolute;
  content: '';
  top: 1px;
  left: 1px;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.2s ease-in;
}

.dark-mode-btn__icon {
  position: relative;
  z-index: 99;
}

.dark-mode-btn--active::before {
  left: 26px;
}


/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 695px;
  background-image: url(../img/header-square.svg);
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  text-align: center;
  color: var(--header-text);
  background-color: var(--dark-bg);
}

.header__wrapper {
  max-width: 660px;
  padding: 0 15px;
}


.header__title {
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 140%;
  letter-spacing: -0.01em;
  color: #fafafa;
}

.header__title em {
  font-style: normal;
  color: #5c62ec;

}

.header__text {
  margin-bottom: 40px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.03em;
  color: #fff;
}

.header__text p+p {
  margin-top: 0.5rem;
}


.btn {
  display: inline-block;
  height: 48px;
  padding: 12px 28px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: var(--header-text);
  background-color: var(--purple);
  border-radius: 5px;
  transition: all 0.4s ease;
}

.btn:active {
  position: relative;
  top: 5px;
}

/* section */

.section {
  padding: 70px 0;
}

.title-1 {
  margin-bottom: 60px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--title-1);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

.project {
  max-width: 370px;
  background-color: var(--project-card-bg);
  border-radius: 10px;
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}

.project__img {
  border-radius: 10px;
}

.project__title {
  padding: 15px 20px 25px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.02em;
  color: var(--project-card-text);
}

/* project-details */

.project-details {
  max-width: 865px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.project-details__cover {
  max-width: 100%;
  margin-bottom: 40px;
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.project-details__descr {
  margin-bottom: 30px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black);
}

.btn-outline {
  margin: 0 auto;
  height: 48px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  border: 1px solid #000;
  border-radius: 5px;
  letter-spacing: 0.01em;
  text-align: center;
  color: #000;
  transition: all 0.4s ease;
}


/* skills */


.title-2 {
  margin-bottom: 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--title-2);
}

.content-list {
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.content-list__item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--black);
}

.content-list__item+.content-list__item {
  margin-top: 40px;
}

/* contacts */

.content-list a {
  color: var(--accent);
  border-bottom: 2px solid var(--purple);
  transition: all 0.4s ease;
}

/* footer */

.footer {
  margin-top: auto;
  padding: 60px 0 50px;
  color: var(--white);
  background-color: var(--dark-bg);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 27px;
  align-items: center;
}


.footer__social {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.footer__copyright {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.03em;
  text-align: center;
  color: var(--white);
}

.footer__copyright a {
  color: inherit;
  border-bottom: 2px solid var(--purple);
  transition: all 0.4s ease;
}












@media(any-hover: hover) {

  .btn:hover {
    opacity: 0.7;
  }

  .nav-list__link:hover {
    opacity: 0.7;
  }

  .project:hover {
    transform: scale(1.2);
  }

  .footer__copyright a:hover {
    opacity: 0.7;
  }

  .btn-outline:hover {
    color: var(--white);
    background-color: var(--purple);
  }

  .content-list a:hover {
    opacity: 0.7;
  }

}
